.add-button-container1{
    border: 10pxsolid white;
    margin: auto;
    /* margin-top: 20px; */
}

.spinner-container{
    z-index: 10100;
    display: block;
    width:100vw;
    height: 100vh;
    background-color: rgba(52, 46, 46, 0.555);
}

.spinner{
    margin: auto;
    margin-top: 200px;
    z-index: 10100;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.no-spend-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:400px;
    z-index: 5;
    gap: 20px;
    border-radius: 50px;

}

.dashboard-container-open{
    display: none;
}

/* 
.dashboard-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
} */

.summary-title{
    margin-left: 10vh;
    color: white;
}
.chart{
    margin: 10vh;
    font-size: 100px;
    font-weight: 800;
    color: white;
    background-color: rgb(0, 0, 0);
}

.no-spend-message, p{
    color: #ffffffe5;
    font-size: 2rem;
    margin: auto;
    margin-top: 200px;
    font-weight: 600;
    text-align: center;
    width: 50%;
    background-color: #dcff13e5;
    padding: 20px;
    border-radius: 50px;
}

.left-container-inner{
    width: 100%;
}


h1{
    color: white;
    margin-bottom: 5vh;
}
.filter-container{
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: flex-start;
}
.date-range-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.category-select{
    color: white;
    background-color: black;
    border: 1px solid #ffffffe5;
    border-radius: 50px;
    padding: 1.5%;
    margin-bottom: 1%;
    /* width:100% */
}

.date-range-selector{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* color: white; */
    /* background-color: rgb(255, 60, 60); */
    border: 1px solid #ffffffe5;
    border-radius: 50px;
    padding: 1.5%;
    margin-bottom: 1%;
}
button{
    color: white;
    background-color: black;
    border: 1px solid #ffffffe5;
    border-radius: 50px;
    padding: 1.5%;
    margin-bottom: 1%;
}

.custom-grid-table{
    color: white;
    background-color: black;
    width:100%;
    margin: auto;
}
.add-button-container{
    margin: auto;
    margin-top: 20px;
    border: 1px solid #000000E5;
    border-radius: 50px;
    padding: 10px;
}
h5{
    font-size: 130%;
    padding-bottom: 1%;
}
.small-device-view{
    display: none;
}

@media ((min-width: 800px) and (max-width: 1050px)) {
    .custom-grid-table{
        width: 100%;
        font-size: 10vmin;
    }

}


@media ((min-width: 100px) and (max-width: 799px)) {
    .custom-grid-table{
        display: none;
    }
    .small-device-view{
        display: flex;
        flex-direction: column;
        border:5px solid white;
        border-radius: 15px;
        /* padding: 10px; */
    }
    .small-device-view-container{
        height: 10vmin;
        display: flex;
        flex-direction: row;
        border: 1px solid white;
        width:100%;
        color: white;
        align-items: center;
        font-size: 2vmin;
        justify-content: space-around;
        background-color: transparent;
    }
    .small-device-view-item{
        display: flex;
        flex-direction: row;
        color: white;
        align-items: center;
        justify-content: space-around;
    }
    .small-device-view-item :nth-child(1){
        margin: 10px;
        font-size: 2vmin;
        background-color: transparent;
    }
    .filter-container{
        flex-direction: column !important;

    }
    .date-range-container{
        display: flex;
        flex-direction: row;
        margin: 0px;
        width:100%;
        /* border:5px solid yellow; */
        align-items: center;
        justify-content: space-around;
    }
    .date-range-container input{
        font-size: 10px;
        width: 100%;
        margin: 10px 0px;
        padding:0px
    }
    .date-range-container>button{
        font-size: 10px;
    }
}